.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.center-alert {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;

}

input[type="file"] {
  display:none
}
.label-for-upload-img {
  cursor: pointer;
  color:white;
  font-size: 1.25rem;
  font-family:'Poppins';
  font-weight: lighter;
  padding: 15px;
  background-color: #555c79;
  text-align: center;
  margin: auto;
  display:flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

}

.Poppins {
  font-family: 'Poppins';

}