
.api-welcome {
    color:#555c79
    
}

.javascript {
    border-radius: 5px;
}

.rust {
    border-radius: 5px;
}

.json {
    border-radius: 5px;
}

.xml {
    border-radius: 5px;
}

.actionscript {
    border-radius: 5px;
}