body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.landing-page-content {
  font-family: 'Poppins';
  font-size: 2.5rem;
  font-weight: 500;
  
  color:white;
  background-color: #555C79;
  padding: 55px;
  border-radius: 25px;
  margin-left: auto;

}

.span-hover:hover {
  cursor: pointer;
  
}

.span-hover {
  font-size: 1.75rem;
  text-align: center;
  display: block;
  background: black;
  border-radius: 15px;
}

@media only screen and (max-width:552px) {

  .landing-page-image {
    width: 356px;
    height: 356px;
  }
  
}

@media only screen and (max-width:486px) {
  .landing-page-content {
    
    font-size: 1.9rem;
  }
  .span-hover {
    font-size: 1.55rem;
  }
}

@media only screen and (max-width:413px) {
  .landing-page-content {
    
    font-size: 1.55rem;
  }
  .span-hover {
    font-size: 1.15rem;
  }
}
