.result-title {
    font-style: italic;
    font-weight: bold;
    color:#46464694;
}

.result-plant {
    font-size: 1.25rem;
    font-weight: bold;
}

.result-card {
    animation: fadeIn 2s;
    background-color: #EDF1F3;
    height: 276px;
    border-radius: 25px;
    opacity: 1;
    align-items: center;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

.disease-info-card {
    animation:fadeInDesc 3s;
    background-color: #EDF1F3;
    padding: 20px;
    border-radius: 25px;
    opacity: 1;
    margin-bottom: 25px;
}

@keyframes fadeInDesc {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

.suggested-treatment-card {

    animation:fadeInSugg 3.7s;
    background-color: #EDF1F3;
    padding: 20px;
    border-radius: 25px;
    margin-top:25px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto   ;
    
   
}

@keyframes fadeInDesc {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

  @keyframes fadeInSugg {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

.title-card {
    color: #46464694;
    font-family: 'Poppins';
    font-weight: lighter;
    margin-bottom: 25px;
}

@media (min-width: 1400px) {
    .container-result {
        max-width: 1550px;
    }
}

.back-icon:hover {
    cursor:pointer;
}